@{
    Layout = null;

    var monthText = DateTime.Today.ToString("MMMM");
    var monthInt = DateTime.Today.Month;
    var year = DateTime.Today.Year;
    var daysInMonth = DateTime.DaysInMonth(year, monthInt);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@monthText  | @year</h1>
        
        @for (int i = 1; i <= daysInMonth; i++)
        {
            <div>@i</div>
        }
    </div>
</body>
</html>
